header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 2em;
  color: white;
  background-color: rgba(black, .9);
  transition: all .5s ease-in-out;
  z-index: 999;

  .header-logo {
    height: 2.5em;
    margin-right: .5em;
  }

  .title {
    font-size: 1.5em;
  }

  .btn-new-note {
    margin-left: auto;
    color: white;
  }
}
