.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: white;
  background: url("../img/bg.jpg") no-repeat fixed center;
  background-size: cover;
  overflow: hidden;

  .logo {
    height: 20em;
    transition: all .15s ease-in-out;
    z-index: 1;
  }

  h3 {
    font-size: 2em;
    margin: .5em 0;
    transition: all .5s ease-in-out;
    z-index: 0;
  }

  p {
    transition: all .5s ease-in-out;
  }
}
