$modal-color: #2ecc71;

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(black, .4);
  transition: all .3s ease-in-out;
  z-index: 9;

  .modal-content {
    position: relative;
    max-width: 40%;
    width: 100%;
    max-height: 60vh;
    height: 100vh;
    border-radius: 5px;
    overflow: auto;
    background-color: white;

    .modal-content-header {
      display: flex;
      align-items: center;
      padding: 0 3em;
      height: 100px;
      background-color: $modal-color;
      color: white;

      .modal-title {
        font-size: 2em;
        font-weight: 300;
      }

      .close {
        margin-left: auto;
        font-size: 1.5em;
        a { color: white }
      }
    }

    .note-form {
      display: flex;
      flex-direction: column;
      padding: 1.5em 2.5em;

      label {
        color: $modal-color;
        margin-bottom: .5em;
      }

      textarea, .fields {
        border: 1px solid rgba(gray, .5);
      }

      .fields {
        height: 2em;
        margin-bottom: 2em;
        font-size: 1em;
      }

      .note-content {
        padding: .5em;
        font-size: 1em;
        resize: vertical;
      }

      .button-add {
        display: block;
        height: 4em;
        margin: 1em 0;
        margin-left: auto;
        border-radius: .5em;
        border: 1px solid rgba(gray, .5);
        background-color: $modal-color;
        color: white;
        cursor: pointer;
      }
    }
  }
}
