.note-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: white;
  background-color: #666e78;

  h1 {
    font-size: 7em;
  }
}

.notes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  padding: 2em;
  width: 100%;
  background-color: #f5f5f7;

  .note {
    height: fit-content;
    padding: 3em;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(gray, .5);
    background-color: white;
    line-height: 2em;

    .note-title {
      font-size: 1.5em;
      margin-bottom: .8em;
    }

    span {
      padding-bottom: 3px;
      border-bottom: 1px solid rgba(gray, .3);
    }
  }
}
