@import "partials/reset";
@import "partials/header";
@import "partials/landing";
@import "partials/notes";
@import "partials/modal";

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
